<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>response</title>
    <link rel="stylesheet" type="text/css" href="./build/css/res.css">
  </head>
  <body>
    <div id="container"></div>
    <script src="/js/res.js"></script>
  </body>
</html>
